<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Download File</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/SLICK-TS LOGO FOR PYTHON.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">



<body>

{%if request.user.is_authenticated%}
  <!-- ======= Mobile nav toggle button ======= -->


  <!-- ======= Hero Section ======= -->
<div class="container">
<div class="row">

      <div class="col-10">
      <h1 class="text-center">Download Closed Records</h1>
      {%include 'jobs/messages.html'%}

          <table class="table table-warning table-striped shadow">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Record Name</th>
      <th scope="col">Total Jobs</th>
      <th scope="col">Total SAV(ft)</th>
      <th scope="col">Total Flex(ft)</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Date Posted</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  {%for row in single%}
    <tr>
      <th scope="row">{{row.id}}</th>
      <td>{{row.name_record}}</td>
      <td>{{row.total_jobs}}</td>
      <td>{{row.total_sav}}</td>
      <td>{{row.total_flex}}</td>
      <td>₦{{row.total_cost}}</td>
      <td>{{row.close_account|date:'d-m-Y'}}</td>
      <td><a href="{%url 'pdf' row.id%}" class="btn btn-danger btn-sm">Download</a>
      </td>
    </tr>

  {%endfor%}

  </tbody>


   <div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
  <a href="{%url 'graph'%}" class="text-light">
    <span>View Graph</span><i class="bx bx-line-chart"></i></a>
</div>
<div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'close_record'%}" class="text-light">Close Record<i class="bx bx-file"></i></a>

</div>

<div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'work'%}" class="text-light">Add New Jobs <i class="bx bx-add-to-queue"></i></a>

</div>

  <div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'view_jobs'%}" class="text-light">Jobs<i class="bx bx-file"></i></a>

</div>

  <div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'index'%}" class="text-light">Go Home<i class="bx bx-home"></i></a>

</div>

</table>


        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
   {%for page in paginator.page_range%}
    {%if page == print1.number%}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{page}}</span>
    </li>
    {%else%}
    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
    {%endif%}
    {%endfor%}
  </ul>
</nav>
      </div>


    </div>


  </div>
</div>
</div>
  {%else%}
<h4 class="alert alert-danger my-3 mx-3">You have to login to access this page - <a href="{%url 'login'%}">Login</a></h4>
{%endif%}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>


