<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{%block head%}{%endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/SLICK-TS LOGO FOR PYTHON.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

<body>

{%if request.user.is_authenticated%}


  <!-- ======= Hero Section ======= -->
<div class="container">
<div class="row">



      <div class="col-10">
      <h1 class="text-center">Jobs</h1>
      {%include 'jobs/messages.html'%}

          <table class="table table-warning table-striped shadow">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer's Name</th>
      <th scope="col">Print</th>
      <th scope="col">Height</th>
      <th scope="col">Width</th>
      <th scope="col">Cost</th>
      <th scope="col">Date Posted</th>
    </tr>
  </thead>
  <tbody>

  {%for row in print1%}
    <tr>
      <th scope="row">{{row.id}}</th>
      <td>{{row.customer_name}}</td>
      <td>{{row.print}}</td>
      <td>{{row.height}}</td>
      <td>{{row.width}}</td>
      <td>{{row.cost}}</td>
      <td>{{row.date|date:'d-m-Y'}}</td>
    </tr>

  {%endfor%}

  </tbody>


   <div class="badge bg-danger text-wrap shadow" style="width: 9rem;">
  <a href="{%url 'graph'%}" class="text-light">
    <span>View Graph</span><i class="bx bx-line-chart"></i></a>
</div>
<div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'work'%}" class="text-light">Add New Jobs <i class="bx bx-add-to-queue"></i></a>

</div>

    <div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'close_record'%}" class="text-light">Close Records <i class="bx bx-file"></i></a>

</div>
  <div class="badge bg-danger text-wrap shadow mx-2" style="width: 9rem;">
   <a href="{%url 'download_file'%}" class="text-light">Download Report <i class="bx bx-file"></i></a>

</div>

</table>

  <div class="badge bg-danger text-wrap shadow my-2" style="width: 9rem;">
 Total Width SAV = <b>{{total_height}}</b>
</div>
 <div class="badge bg-danger text-wrap shadow my-2" style="width: 9rem;">
 Total Width FLEX = <b>{{total_width_flex}}</b>
</div>

        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
   {%for page in paginator.page_range%}
    {%if page == print1.number%}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{page}}</span>
    </li>
    {%else%}
    <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
    {%endif%}
    {%endfor%}
  </ul>
</nav>
      </div>


    </div>


  </div>
</div>

  {%else%}
<h4 class="alert alert-danger my-3 mx-3">You have to login to access this page - <a href="{%url 'login'%}">Login</a></h4>
{%endif%}
</div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>


